.transactionImg {
    width: 100%;
    border-radius: 0.5em;
}

.balanceFeatureHeaderText {
    color: gold;
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    .balanceFeatureHeaderText {
        font-size: 2rem;
        
    }

    .balanceFeatureText {
        font-size: 1.3rem;
        font-weight: 300;
    }
}