.mainFeatureSection {
    display: flex;
    flex-direction: column;
    gap: 10em;
    padding: 1em;
    color: white;
    text-align: center;
}

.mainFeatureHeaderText {
    font-size: 3.5rem;
}



/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
    .mainFeatureHeaderText {
    font-size: 2.3rem;
    transform: translateY(100px);
    }

    
}
