

.cardImg {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
    
}

.cardFeatureHeaderText {
    color: gold;
    font-size: 2.3rem;
}

.cardFeature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6em;
    padding-bottom: 4em;
}

.cardFeatureReverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 6em;
    padding-bottom: 6em;
}

.cardFeatureLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.cardFeatureRight {
    width: 40%;
}

.cardFeatureText {
    font-size: 1.5rem;
    font-weight: 300;
    max-width: 80%;
    line-height: 2.5rem;
}






/* MEDIA QUERIES */
@media screen and (max-width: 1199px) {
    .cardFeatureLeft {
        width: 100%;
    }

    .cardFeatureRight {
        width: 70%;
    }

    .cardFeatureText {
        max-width: 100%;
    }
}


@media screen and (max-width: 1200px) {
    .cardImg {
        width: 100%;
        
        
    }
  
    
    
    .cardFeatureHeaderText {
        font-size: 2rem;
        
    }

    .cardFeatureText {
        font-size: 1.2rem;
        font-weight: 300;
    }

    .cardFeature, .cardFeatureReverse {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 2em;   
    }

    /* .cardFeatureLeft {
        width: 100%;
    }

    .cardFeatureRight {
        width: 100%;
    } */
    


}



@media screen and (max-width: 1000px) {
   

    .cardFeatureRight {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    

    .cardFeatureRight {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .cardFeatureLeft {
        width: 100%;
    }

    .cardFeatureRight {
        width: 100%;
    }
}

