.FeaturePageSection {
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.FeaturePageSectionHeader {
    color: white;
    text-align: center;
    letter-spacing: 0.2em;
}