.heroSection {
    height: 100vh;
    padding: 4em 4em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background: rgb(0, 0, 0);
}

h1 {
    font-size: 3rem;
}

.emphasis {
    color: gold;
}

.heroTextEmphasis {
    font-style: italic;
}

.heroRight {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cardImage {
    width: 80%;
}

.buttonGroup {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-top: 2em;
}

.heroApplyBtn {
    margin-top: 0em;
    padding: 0.5em 1em;
    border-radius: 2em 2em 2em 2em;
    font-size: 1.5rem;
    font-weight: 800;
    border: none;
    cursor: pointer;
    background: white;
}

.heroApplyBtn:hover {
    background: gold;
    transition: 0.7s;
}

.learnMoreText {
    font-weight: 300;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    cursor: pointer;
}

@media screen and (max-width:950px) {
    .heroSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h1 {
        font-size: 3rem;
    }

    .heroText {
        font-size: 0.9rem;
    }

    .cardImage {
        width: 100%;
    }

    .heroRight {
        width: 100%;
    }
}

