ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.1rem;
}


.mobileNav, .mobileNavActive {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    left: -2000px;
    transition: 0.3s ease-in;
    width: 100%;
    background: black;
    color: white;
}



.mobileNavActive {
    position: absolute;
    left: 0;
    transition: 0.3s ease-in;
    z-index: 1000;
}


.closeNavBtn, .openNavBtn {
    border: none;
    background: none;
    cursor: pointer;
}



.fa-xmark {
    font-size: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    display: none;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.fa-credit-card {
    font-size: 3rem;
}

.logo {
    cursor: pointer;
}

.logoText {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
}

.fa-bars {
    display: none;
    color: white;
}

.mobile-nav-links {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin-top: 2rem;
}

.applyBtn {
    padding: 0.5em 1em;
    border-radius: 2em 2em 2em 2em;
    font-size: 1.5rem;
    font-weight: 800;
    border: none;
    box-shadow: 0px 3px 9px rgb(255, 255, 255, 0.2);
    margin-top: 2rem;
    cursor: pointer;
    background: white;
}

.applyBtn:hover {
    background: gold;
    transition: 0.4s;
}

.mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    color: white;
    background: black;
    gap: 1em;
    
}

.mainNavInactive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    color: white;
    background: black;
    gap: 1em;
}

.main-nav-links {
    display: flex;
    gap: 2em;
    font-size: 1.1rem;
    margin-inline: auto;
}

.main-nav-links a:hover {
    text-decoration: 3px gold underline;
    text-underline-offset: 1em;
}

.mainApplyBtn {
    margin: 0;
    padding: 0.5em 2em;
}




@media screen and (max-width: 1400px) {
    .fa-bars {
        display: block;
        /* position: absolute;
        right: 0; */
        font-size: 2.5rem;
    }

    .fa-xmark {
        display: block;
    }

    .main-nav-links, .mainApplyBtn {
        display: none;
    }
}