.newsletter {
    color: white;
    max-width: 80%;
    background: rgb(24, 24, 24);
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    margin: 0 auto;
    box-shadow: 0px 1px 4px rgb(255, 255, 255, 0.3);
    text-align: center;
}

.newsletterHeader {
    font-size: 2.5rem;
    color: gold;
    padding: 0.5em;
}

.newsletterForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}


.newsletterInput {
    padding: 1.5em;
    width: 100%;
    border-radius: 2em;
    border: 2px solid white;
    font-size: 16px;
    color: white;
    position: relative;
    background: transparent;
}

.newsletterInput:focus {
    outline: none;
    
}

.fa-arrow-right {
    font-size: 1.7rem;
    font-weight: 900;
    background: rgb(88, 202, 88);
    padding: 0.3em;
    border-radius: 1em;
    position: absolute;
    right: 5px; 
    cursor: pointer;
}

.newsletterText {
    font-weight: 300;
}


/* MEDIA QUERIES */

/* @media screen and (min-width: 1000px) {
    
    
    
    .newsletterInput {
        width: 70%;
        position: relative;
        margin: 0 auto;
    }

    .fa-arrow-right {
        font-size: 1.7rem;
        font-weight: 900;
        background: rgb(88, 202, 88);
        padding: 0.4em;
        border-radius: 1em;
        position: absolute;
        right: 230px; 
        cursor: pointer;
    }
} */

